<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>UniqueID_API</servlet-name>
		<servlet-class>co.uniqueid.api.UniqueID_APIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UniqueID_API</servlet-name>
		<url-pattern>/uniqueid_api</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetUniqueIDService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.GetEntityFromUniqueIDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUniqueIDService</servlet-name>
		<url-pattern>/GetUniqueIDService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchUniqueIDService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.SearchUniqueIDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchUniqueIDService</servlet-name>
		<url-pattern>/SearchUniqueIDService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveUniqueIDService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.SaveUniqueIDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveUniqueIDService</servlet-name>
		<url-pattern>/SaveUniqueIDService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddFoundedService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.AddFoundedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFoundedService</servlet-name>
		<url-pattern>/AddFoundedService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddContactService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.AddContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContactService</servlet-name>
		<url-pattern>/AddContactService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListContactsService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.ListContactsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListContactsService</servlet-name>
		<url-pattern>/ListContactsService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListFoundedService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.ListFoundedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListFoundedService</servlet-name>
		<url-pattern>/ListFoundedService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteContactService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.DeleteContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteContactService</servlet-name>
		<url-pattern>/DeleteContactService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteFoundedService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.DeleteFoundedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFoundedService</servlet-name>
		<url-pattern>/DeleteFoundedService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SaveUniqueIDFromFacebookService</servlet-name>
		<servlet-class>co.uniqueid.api.servlets.SaveUniqueIDFromFacebookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveUniqueIDFromFacebookService</servlet-name>
		<url-pattern>/SaveUniqueIDFromFacebookService</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
